/datadb.cbir/
/datadb.drugres/
/datadb.melanoma/
/datadb.melanomadb/
/datadb.segmct/
/datadb.segmxr-out/
/datadb.xray/
/datadb.xray-out/
/users_cbir/
/users_drugres/
/users_melanoma/
/users_segmct/
/users_segmxr/
/users_xray/
/cssjs-bk/
/datadb.cbir-bk/
/datadb.segmxr-bk/
/datadb.xray-bk/
/scripts_melanoma_tmp/
/datadb.xray
/datadb.cbir
/datadb.segmct
/datadb.histology/
/users_histology/
*.drugres
/datadb.histology
/datadb.videocbir/
/datadb.histology-bk/
/img-bk/
/datadb.videocbir
/users_ctslice/
