{% extends "base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        #panelPreview .img-thumbnail:hover {
            background-color: darkred;
        }
        #panelPreviewSegmImages .img-thumbnail:hover {
            background-color: darkred;
        }
        .pad8 {
            padding: 4px;
        }
        .algnc {
            text-align: center;
        }
        .div-90p {
            width: 95%;
        }
        .div-100p {
            width: 100%;
        }
        #panelPreview img {
            max-width: 56px;
            margin: 1px;
        }
        #panelPreviewSegmImages img {
            max-width: 56px;
            margin: 1px;
        }
        #panelCurrent img {
            width: 256px;
        }
        #panelQuery #imgQuery {
            width: 256px;
        }
        #imgZoomed {
            z-index: 9999;
            max-width: 400px;
            display: none;
            position: absolute;
            left: 200px;
            right: 200px;
            box-shadow: 0 0 6px 3px;
            -webkit-border-radius: 6px 6px 6px 6px;
            -moz-border-radius: 6px 6px 6px 6px;
                border-radius: 6px 6px 6px 6px;
        }
        .div-hidden {
            display: none;
        }
        #idx-gallery img {
            height: 200px;
            max-width: 200px;
        }
    </style>
    <img id="imgZoomed" src="#">
<div class="container div-90p">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default pad8 algnc">
                <div class="panel-heading">
                    <h4>Histology database</h4>
                    <a class="btn btn-default" id="btnShowDataset" data-toggle="modal" data-target="#dialogShowDataset">
                        <span class="glyphicon glyphicon-th"></span>
                        Preview dataset
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12" id="panelPreview">
                            ...
                        </div>
                        <div class="col-xs-12" id="progressQuerySEGM" style="display: none;">
                            <hr>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col-xs-12" id="panelPreviewSegm" style="display: none;">
                            <hr>
                            <h4>Segmented histology maps:</h4>
                            <div id="panelPreviewSegmImages">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12" id="main_container">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default pad8 algnc" id="panelCurrent">
                        <div class="panel-heading">
                            <h4>Current histology slide:</h4>
                        </div>
                        <div class="panel-body">
                            <img id="imgCurrent">
                        </div>
                        <div class="panel-footer">
                            <h4>Data size:
                                <span class="label label-default" id="infoSize">...</span>
                            </h4>
                            <h4>Number of images:
                                <span class="label label-default" id="infoData">...</span>
                            </h4>
                            <div class="alert alert-danger fade in" id="message-error" style="position: relative; z-index: 10; display: none">
                                <button type="button" class="close">×</button>
                                <div id="message-error-text">Your error message goes here...</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default pad8 algnc" id="panelQuery" style="display: none; height: 100%;">
                        <div class="panel-heading">
                            <h4>Query image from microscope:</h4>
                        </div>
                        <div class="panel-body">
                            <img class="img-thumbnail" id="imgQuery">
                            <hr>
                            <div class="row">
                                <div class="progress" id="progressQueryCBIR" style="display: none;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                </div>
                                <div class="col-xs-12" id="retQueryCBIR">
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/data/img/doge2.jpg" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-search"></span> Search in histology database</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="row algnc">#}
{#        <div class="col-md-6">#}
{#            <div class="panel panel-defailt">#}
{#                <div class="panel-body">#}
{#                    <img src="/data/img/doge2.jpg" width="100px">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

<!-- Dialogs BEGIN -->
    <div class="modal fade" id="dialogShowDataset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 90%; height: 90%">
        <div class="modal-content" style="width: 100%; height: 100%">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Histology dataset</h4>
          </div>
          <div class="modal-body" style="width: 100%; height: 80%; overflow: scroll;" id="idx-gallery">
              <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel0">
                          <div class="panel-heading" id="dbTitle0"></div>
                          <div class="panel-body"><img src="#" id="dbImg0" data-id="0"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel1">
                          <div class="panel-heading" id="dbTitle1"></div>
                          <div class="panel-body"><img src="#" id="dbImg1" data-id="1"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel2">
                          <div class="panel-heading" id="dbTitle2"></div>
                          <div class="panel-body"><img src="" id="dbImg2" data-id="2"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel3">
                          <div class="panel-heading" id="dbTitle3"></div>
                          <div class="panel-body"><img src="" id="dbImg3" data-id="3"></div>
                      </div>
                  </div>

                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel4">
                          <div class="panel-heading" id="dbTitle4"></div>
                          <div class="panel-body"><img src="" id="dbImg4" data-id="4"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel5">
                          <div class="panel-heading" id="dbTitle5"></div>
                          <div class="panel-body"><img src="" id="dbImg5" data-id="5"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel6">
                          <div class="panel-heading" id="dbTitle6"></div>
                          <div class="panel-body"><img src="" id="dbImg6" data-id="6"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel7">
                          <div class="panel-heading" id="dbTitle7"></div>
                          <div class="panel-body"><img src="" id="dbImg7" data-id="7"></div>
                      </div>
                  </div>

                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel8">
                          <div class="panel-heading" id="dbTitle8"></div>
                          <div class="panel-body"><img src="" id="dbImg8" data-id="8"></div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="panel panel-info div-hidden algnc" id="dbPanel9">
                          <div class="panel-heading" id="dbTitle9"></div>
                          <div class="panel-body"><img src="" id="dbImg9" data-id="9"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="gallery-close">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="waitProgress" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Loading...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Dialogs END -->
</div>

<script type="text/javascript">
    var parPreviewMaxWidth = "64px";
    //
    var dataHistology = null;
    var currentPreviewIdx = -1;
    var isQueryProcessed = false;
    $(function () {
        var isShowImgZoomed = false;
        showWaitProgress(true);
        $.getJSON("{{ STATIC_URL }}datadb.histology/data.json", function (data) {
            dataHistology = data;
            console.log(dataHistology);
            loadPreviewImages();
            if( (dataHistology!=null) && (dataHistology.length>0)) {
                loadDatasetPreview();
                loadCurrentPreview(0)
            }
            showWaitProgress(false);
        });
        //
        function loadDatasetPreview() {
            if(dataHistology!=null) {
                var dataPath = "{{ STATIC_URL }}datadb.histology/";
                for(var ii=0; ii<dataHistology.length; ii++) {
                    var tImgURL = dataPath + dataHistology[ii][2];
                    $("#dbPanel"+ii).show();
                    var numImg = dataHistology[ii][1][0]*dataHistology[ii][1][1];
                    $("#dbTitle"+ii).append("<h4>size: ~" + dataHistology[ii][4]+ ", #images=" + numImg + "</h4>");
                    $("#dbImg"+ii).attr('src', tImgURL);
                }
            }
        }
        function loadPreviewImages() {
            if(dataHistology!=null) {
                var dataPath = "{{ STATIC_URL }}datadb.histology/";
                $("#panelPreview").empty();
                for(var ii=0; ii<dataHistology.length; ii++) {
                    var imgURL = dataPath + dataHistology[ii][2];
                    var tidx = 'img-preview-'+ii;
                    var timg = $('<img>', {
                        'id': tidx,
                        'src': imgURL,
                        'class': 'img-thumbnail',
                        'data-id': ii
                    });
                    timg.on('click', function() {
                        var tidx = $(this).attr('data-id');
                        loadCurrentPreview(tidx);
                        console.log('click tidx = ' + tidx);
                    });
                    $("#panelPreview").append(timg);
                }
            }
        }
        function loadCurrentPreview(idx) {
            currentPreviewIdx = idx;
            var dataPath    = "{{ STATIC_URL }}datadb.histology/";
            var timgURL     = dataPath + dataHistology[currentPreviewIdx][2];
            var pDirSize    = dataHistology[currentPreviewIdx][4];
            var pNumImg     = dataHistology[currentPreviewIdx][1][0]*dataHistology[currentPreviewIdx][1][1];
            $("#imgCurrent").attr('src', timgURL);
            $("#infoSize").empty();
            $("#infoSize").append(pDirSize);
            $("#infoData").empty();
            $("#infoData").append(pNumImg);
        }
        function loadCurrentPreviewSegm(idx, turl) {
            currentPreviewIdx = idx;
            var timgURL     = turl;
            var pDirSize    = dataHistology[currentPreviewIdx][4];
            var pNumImg     = dataHistology[currentPreviewIdx][1][0]*dataHistology[currentPreviewIdx][1][1];
            $("#imgCurrent").attr('src', timgURL);
            $("#infoSize").empty();
            $("#infoSize").append(pDirSize);
            $("#infoData").empty();
            $("#infoData").append(pNumImg);
        }
        //
        function showWaitProgress(isShow) {
            if(isShow) {
                $("#waitProgress").modal('show');
            } else {
                $("#waitProgress").modal('hide');
            }
        }
        $("#btnShowDataset").on('click', function () {
            console.log('TODO: #btnShowDataset');
        });
        function getRowCol(tx,ty) {
            var tsiz = dataHistology[currentPreviewIdx][1];
            var timsizX = $("#imgCurrent").width();
            var timsizY = $("#imgCurrent").height();
            var posr = Math.round(tsiz[0] * ty / timsizY);
            var posc = Math.round(tsiz[1] * tx / timsizX);
            if (posr < 1) {
                posr = 1;
            }
            if (posr > tsiz[0]) {
                posr = tsiz[0]
            }
            if (posc < 1) {
                posc = 1;
            }
            if (posc > tsiz[1]) {
                posc = tsiz[1];
            }
            return [posr, posc];
        }
        function getSelectedImgURL(tx,ty) {
            var dataPath = "{{ STATIC_URL }}datadb.histology/";
            var timgURL = dataPath + dataHistology[currentPreviewIdx][3];
            var tmp=getRowCol(tx,ty);
            var posr = tmp[0];
            var posc = tmp[1];
            posr = "000" + posr;
            posc = "000" + posc;
            posr = posr.substr(posr.length - 3);
            posc = posc.substr(posc.length - 3);
            timgURL += "/" + posr + "_" + posc + ".jpg";
            return timgURL;
        }
        $("#imgCurrent").mousedown(function (ev) {
            if(!isQueryProcessed) {
                var ctxPos = $(this).offset();
                var tx = ev.clientX - ctxPos.left;
                var ty = ev.clientY - ctxPos.top;
                if(isShowImgZoomed) {
                    var turl = getSelectedImgURL(tx,ty);
                    $("#imgQuery").attr('src', turl);
                    $("#panelQuery").show();
                    var tmp=getRowCol(tx,ty);
                    var posr=tmp[0];
                    var posc=tmp[1];
                    loadCurrentPreview(currentPreviewIdx);
                    runSearchRequest(parseInt(currentPreviewIdx)+1, posr, posc);
                }
            }
        });
        //
        var funShowErrorMessage = function(txt) {
            $('#message-error-text').html(txt);
            $('#message-error').show();
        };
        function runSearchRequest(idxSlide, idxRow, idxCol) {
            $("#panelPreviewSegmImages").empty();
            $("#retQueryCBIR").empty();
            $("#progressQuerySEGM").show();
            $("#progressQueryCBIR").show();
            console.log("idxSlide=" + idxSlide + ", idxRow=" + idxRow + ", idxCol=" + idxCol);
            var params={
                idSlide: idxSlide,
                idRow: idxRow,
                idCol: idxCol
            };
            $.ajax({
                url: "{% url 'apphistology:apiSearch' %}",
                type: 'POST',
                data: params,
                success: function (data, textStatus, jqXHR) {
                    var retJSON = $.parseJSON(data);
                    $("#progressQuerySEGM").hide();
                    $("#progressQueryCBIR").hide();
                    //
                    $("#panelPreviewSegm").show();
                    $("#retQueryCBIR").empty();
                    var retCBIR=retJSON[0];
                    for(var ii=0; ii<retCBIR.length; ii++) {
                        var timg = $('<img>', {
                            'id': 'retcbir-' + ii,
                            'src': "{{ STATIC_URL }}/datadb.histology/" + retCBIR[ii][0],
                            'class': 'img-thumbnail',
                            'data-id': ii
                        });
                        var tdiv = $('<div>', {
                            class: "col-xs-3 col-sm-4 col-lg-3"
                        });
                        tdiv.append(timg);
                        $("#retQueryCBIR").append(tdiv);
                    }
                    var retSEGM=retJSON[1];
                    $("#panelPreviewSegmImages").empty();
                    for(var ii=0; ii<retSEGM.length; ii++) {
                        var tidx = 'img-segm-'+ii;
                        var timg = $('<img>', {
                            'id': tidx,
                            'src': "{{ STATIC_URL }}/users_histology/" + retSEGM[ii],
                            'class': 'img-thumbnail',
                            'data-id': ii
                        });
                        timg.on('click', function() {
                            var tidx = $(this).attr('data-id');
                            var turl = $(this).attr('src');
                            loadCurrentPreviewSegm(tidx, turl);
                            console.log('click tidx = ' + tidx);
                        });
                        $("#panelPreviewSegmImages").append(timg);
                    }
                    console.log(retJSON);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#progressQuerySEGM").hide();
                    $("#progressQueryCBIR").hide();
                    funShowErrorMessage('Error: ' + textStatus);
                }
            });
        }
        //
        $("#imgCurrent").mousemove(function (ev) {
            var ctxPos = $(this).offset();
            var tx = ev.clientX - ctxPos.left;
            var ty = ev.clientY - ctxPos.top;
            if(isShowImgZoomed) {
{#                console.log('pos = (' + posr + "," + posc + ")");#}
                $("#imgZoomed").css('left',ev.clientX+15);
                $("#imgZoomed").css('top', ev.clientY+5);
                $("#imgZoomed").attr("src", getSelectedImgURL(tx,ty));
            }
        });
        $("#imgCurrent").mouseleave(function(ev) {
            console.log("::mouseleave()");
            isShowImgZoomed=false;
            $("#imgZoomed").hide();
        });
        $("#imgCurrent").mouseenter(function(ev) {
            console.log("::mouseenter()");
            isShowImgZoomed=true;
            $("#imgZoomed").show();
        });
    });
</script>
{% endblock %}