{% extends "base.html" %}
{% block content %}
    <link href="/data/cssjs/ekko-lightbox.min.css" type="text/css">
    <script src="/data/cssjs/ekko-lightbox.min.js" type="text/javascript"></script>
    <style type="text/css">
        .container00 {
            position: relative;
{#            width: 110px;#}
{#            height: 110px;#}
            display: inline-block;
        }
        .colorProbL {
            font-weight: bold;
            color: blue;
        }
        .colorProbM {
            font-weight: bold;
            color: darkorange;
        }
        .colorProbH {
            font-weight: bold;
            color: red;
        }
        .img_max32 {
            max-width:  32px;
            max-height: 32px;
        }
        .img_scores {
            max-width:  180px;
            max-height: 180px;
        }
        .main_image00 {
            width: 100%;
            height: 100%;
        }
        .overlay_image00 {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    .bs-example {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-style: solid;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    </style>
<div class="container-fluid fill-heigth">
<div class="row fill-heigth">
    <div class="col-md-2 content">
        <h4> <kbd>1</kbd> Upload legion images for examination:</h4>
        {% block upload %}
            <form role="form" id="id_form_upload" style="padding: 2px" enctype="multipart/form-data" method="post" action="{% url 'appmelanoma:upload' %}">
                <div class="btn-group-vertical">
                    <input class="btn btn-primary" type="file" value="file" name="file" id="id_file" />
{#                    <a class="btn btn-danger" href="{% url 'appmelanoma:clean' %}"><span class="glyphicon glyphicon-remove-circle"></span> Remove files</a>#}
{#                    <a href="#" class="btn btn-success btn-block" id="id_showdb" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-th"></span> Show Database</a>#}
                    <a href="#" class="btn btn-success btn-block" id="id_showdb" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-th"></span> Select from a Database</a>
                    <a class="btn btn-danger" href="{% url 'appmelanoma:clean' %}"><span class="glyphicon glyphicon-remove-circle"></span> Clear </a>
                </div>
            </form>
        {% endblock %}

        <hr>
{#        <div id="user_images">#}
{#        {% for ii in uploadedImages %}#}
{#            <img class="img-thumbnail img-user" alt="100x100" src="{{ ii.url }}" style="width: {{ ii.sizeW }}px; height: {{ ii.sizeH }}px;" id="{{ ii.idx }}">#}
{#        {% endfor %}#}
{#        </div>#}

        <div id="user_images" style="min-height: 300px;">
        <h4> <kbd>2</kbd> Examined images:</h4>
        {% for ii in uploadedImages %}
{#            <a id="a_{{ ii.idx }}" class="container00" href="{{ ii.url }}" data-toggle="lightbox" data-title="{{ ii.idx }}" data-footer="{{ ii.sizeW }}x{{ ii.sizeH }}" data-buttona="Download">#}
            <div class="container00">
{#                <img class="img-thumbnail img-user" alt="100x100" src="{{ ii.url }}" style="width: {{ ii.sizeW }}px; height: {{ ii.sizeH }}px;" id="{{ ii.idx }}">#}
                {% if ii.isSegm %}
                    <img class="img-thumbnail img-user" alt="100x100" src="{{ ii.urlSegm }}" style="max-width: 90px; max-height: 90px;" id="{{ ii.idx }}">
                {% else %}
                    <img class="img-thumbnail img-user" alt="100x100" src="{{ ii.url }}" style="max-width: 90px; max-height: 90px;" id="{{ ii.idx }}">
                {% endif %}
                <i class="overlay_image00 fa fa-refresh fa-inverse fa-spin fa-3x" id="info_{{ ii.idx }}"></i>
            </div>
{#            </a>#}
        {% endfor %}
        <hr/>

        </div>

    </div>
    <div class="col-md-8 content" style="text-align: center" id="canvas_container"  style="display: table-row;">

        <div class="col-md-6">
            <h4> <kbd>3</kbd> Examination results:</h4><hr/>
            <img id="img_selected" class="img-thumbnail" src="/data/cameramask.png" style="max-width: 380px; max-height: 380px;">
            <br>
            <br>
            <div class="row">
{#                <div id="btn_show_segm" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Show segmented </div>#}
                <a id="id_btn_show_segm" class="btn btn-sm btn-primary" data-toggle="lightbox" data-title="Segmented image"><span class="glyphicon glyphicon-eye-open"></span> Show enlarged</a>
            </div>
            <div class="progress" id="id_progress_div" style="display: none;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="id_progress"></div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading text-left" id="id_txt_body">
                    Melanoma classification results:
                </div>
                <div class="panel-body" id="id_txt_body2">
{#                    <h5>Header info</h5>#}
                    <b>Extracted features:</b>
                </div>
                <!-- Table -->
                <table class="table" id="id_txt_table">
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h4> <kbd>4</kbd> Similar images:</h4><hr/>
            <div class="row">
                <div class="col-xs-6">
{#                    <div class="container00">#}
                    <a id="id_a_imsim1" data-toggle="lightbox" data-title="Similar image #1" href="/data/cameramask.png">
                        <img id="id_imsim1" class="img-thumbnail img_scores" src="/data/cameramask.png" width="200px" height="200px">
                    </a>
{#                        <span class="overlay_image00 glyphicon glyphicon-picture" ></span>#}
{#                    </div>#}
                </div>
                <div class="col-xs-6">
                    <a id="id_a_imsim2" data-toggle="lightbox" data-title="Similar image #2" href="/data/cameramask.png">
                        <img id="id_imsim2" class="img-thumbnail img_scores" src="/data/cameramask.png" width="200px" height="200px">
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <a id="id_a_imsim3" data-toggle="lightbox" data-title="Similar image #3" href="/data/cameramask.png">
                        <img id="id_imsim3" class="img-thumbnail img_scores" src="/data/cameramask.png" width="200px" height="200px">
                    </a>
                </div>
                <div class="col-xs-6">
                    <a id="id_a_imsim4" data-toggle="lightbox" data-title="Similar image #4" href="/data/cameramask.png">
                        <img id="id_imsim4" class="img-thumbnail img_scores" src="/data/cameramask.png" width="200px" height="200px">
                    </a>
                </div>
            </div>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading text-left" id="id_txt_body">
                    Legend:
                </div>
                <table class="table">
                    <tr>
                        <th>
                            <img src="/data/legend_tnevus.png" class="img_max32"> <b>Typical nevus</b>
                        </th>
                        <th>
                            <img src="/data/legend_anevus.png" class="img_max32"> <b>Atypical nevus</b>
                        </th>
                        <th>
                            <img src="/data/legend_melanoma.png" class="img_max32"> <b>Melanoma</b>
                        </th>
                    </tr>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading text-left" id="id_txt_body_sim">
{#                    <h4> <b>Looks like a NEVUS (1 of 4)</b></h4>#}
                    <h4> <b>...</b></h4>
                </div>
{#                <div class="panel-body" id="id_txt_body2">#}
{#                    <h5>Header info</h5>#}
{#                </div>#}
{#                <!-- Table -->#}
{#                <table class="table" id="id_txt_table">#}
{#                </table>#}
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 90%; height: 90%">
    <div class="modal-content" style="width: 100%; height: 100%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Melanoma database (for testing)</h4>
      </div>
      <div class="modal-body" style="width: 100%; height: 80%; overflow: scroll;" id="idx_gallery"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="gallery-close">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

<script type="application/javascript">
    var urlBlankImage           = "/data/cameramask.png";
    var currentImageInfo        = null;
    var isCurrentImageProcessed = false;
    var currentImageIdx         = null;
    var currentUrlSegmented     = null;
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox.defaults.onShow = function() {
            console.log("::onShow()");
            $("#lightbox_btna").on("click", function() {
                var urlZip = $("#lightbox_img_href").attr('src');
                //TODO: This IS STUPID HAK(FUCK)!!!!
                urlZip = urlZip.substr(0,urlZip.length-11) + ".zip";
{#                $.fileDownload(urlZip);#}
                window.location=urlZip;
                console.log("::onClick() : " + urlZip);
            });
        };
        return $(this).ekkoLightbox();
    });
    function createCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = escape(name) + "=" + escape(value) + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = escape(name) + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }
    $(function () {
        var timeCounter = 0;
        var timeDelay   = 1000;
        ///////////////////////////////////////
        function getImageInfoByIdx(parIdx) {
            if(parIdx==null) {
                return null;
            }
            if(currentImageInfo!=null) {
                var numInfo = currentImageInfo.length;
                var tIdx;
                for(var ii=0; ii<numInfo; ii++) {
                    tIdx = currentImageInfo[ii].idx;
                    if(parIdx.localeCompare(tIdx)==0) {
                        return currentImageInfo[ii];
                    }
                }
            } else {
                return null;
            }
        }
        function updateCurrentImageIfFinished() {
            var currInfo = getImageInfoByIdx(currentImageIdx);
            if(currInfo==null) {
                return;
            }
            if(currInfo.isFinished) {
                funSetStateFinish();
                if(currInfo.errCode==0) {
                    var txtData = currInfo.data;
                    var url     = currInfo.bUrl;
                    $('#id_imsim1').attr('src',    url+'/out_sim1.png');
                    $('#id_a_imsim1').attr('href', url+'/out_sim1.png');
                    $('#id_imsim2').attr('src',    url+'/out_sim2.png');
                    $('#id_a_imsim2').attr('href', url+'/out_sim2.png');
                    $('#id_imsim3').attr('src',    url+'/out_sim3.png');
                    $('#id_a_imsim3').attr('href', url+'/out_sim3.png');
                    $('#id_imsim4').attr('src',    url+'/out_sim4.png');
                    $('#id_a_imsim4').attr('href', url+'/out_sim4.png');
                    currentUrlSegmented = url+'/out_proc.png';
                    $("#"+currentImageIdx).attr('src',currentUrlSegmented);
                    $("#img_selected").attr('src', currentUrlSegmented);
                    $('#id_btn_show_segm').attr('href', currentUrlSegmented);
                    if(currInfo.data!=null) {
                        var numTxt = currInfo.data.length;

                        $('#id_txt_body').html('<h4><b>'
                                + currInfo.data[0].replace('\n','<br>')
{#                                + currInfo.data[1].replace('\n','<br>')#}
                                + '</b></h4>');

                        $('#id_txt_body_sim').html('<h4>'
                                + '<b>' + currInfo.data[1].replace('\n','<br>') + '</b>'
                                + '</h4>');

                        $('#id_txt_table').html('');
                        for(var ii=4; ii<numTxt; ii++) {
                            var splitTXT = currInfo.data[ii].split(':');
                            if(splitTXT.length>1) {
                                $('#id_txt_table').append('<tr>'
                                    + '<th>' + splitTXT[0] + '</th>'
                                    + '<th>' + splitTXT[1] + '</th>'
                                    + '</tr>');
                            }
                        }
                    }
                } else {
                    $('#id_txt_table').html('');
                    $("#id_txt_body").html("<h4><b>" + currInfo.errStr + "</b></h4>");
                    funShowErrorMessage(currInfo.errStr);
                }
            }
        }
        function imageListUpdater() {
            $.ajax({
                url: "{%  url 'appmelanoma:getinfo' %}",
                data: [],
                success: function(data) {
                    currentImageInfo = $.parseJSON(data);
                    console.log(currentImageInfo);
                    var isAllFinished = true;
                    var isAllOk       = false;
                    var tStatus, tIdx, tErr, tErrStr, tUrl;
                    for(var ii=0; ii<currentImageInfo.length; ii++) {
                        tStatus = currentImageInfo[ii].isFinished;
                        tIdx    = currentImageInfo[ii].idx;
                        tErr    = currentImageInfo[ii].errCode;
                        tUrl    = currentImageInfo[ii].bUrl + '/out_proc.png';
                        if(tErr==0 && tStatus) {
                            $("#"+tIdx).attr('src', tUrl);
                        }
{#                        console.log('idx=' + tIdx);#}
                        if(tStatus) {
                            $('#info_' + tIdx).hide();
                        } else {
                            isAllFinished = false;
                        }
                    }
                    if(!isAllFinished) {
                        updateImageList();
                    } else {
                        updateCurrentImageIfFinished();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log("ERROR[Ajax] : status=" + textStatus);
                }
            });
        }
        function updateImageList() {
            var currDelay = 100;
            if(timeCounter>0) {
                currDelay=timeDelay;
            }
            setTimeout(function() {
                console.log("Timeout: " + timeCounter);
                timeCounter++;
                imageListUpdater();
            }, currDelay);
        }
        updateImageList();
        ///////////////////////////////////////
        $("#id_help").tooltip({html:true});
        $("#navbar-melanoma").addClass("active");
        $('.alert .close').on('click', function(e) {
            $(this).parent().hide();
        });

        $("#id_file").on("change", function() {
            $("#id_form_upload").submit();
        });
        var funShowErrorMessage = function(txt) {
            $('#message-error-text').html(txt);
            $('#message-error').show();
        };
    /////////////////////////////////////////////////
        var funGetMaxSizeScaled = function(maxSize, w, h) {
            var newW = maxSize;
            var newH = Math.floor((maxSize*h)/w);
            if(h>w) {
                newH = maxSize;
                newW = Math.floor((maxSize*w)/h);
            }
            return [newW, newH];
        };
        var funSetStateWait =function () {
            $('#id_progress_div').show();
            $('#id_progress').css('width', (100) + '%');
            $('#id_txt_body').html('<h4>Pleae wait...</h4>');
            $('#id_txt_body_sim').html('...');
            $('#id_txt_table').html('');
        };
        var funSetStateFinish =function () {
            $('#id_progress').css('width', (0) + '%');
            $('#id_progress_div').hide();
        };
        $("#btn_show_segm").on('click',function () {
            if(currentUrlSegmented!=null) {
                var tmpA = $('<a>', {'id': 'tmp-idx', 'href':'/data/cameramask.png', 'data-toggle': 'lightbox'});
                $("#tmp-idx").ekkoLightbox();
            }
        });

        var funLoadCurrentImage = function (imgLink) {
            var maxSize = 420;
            $("#img_selected").attr("src",imgLink.src);
            //var newSize = funGetMaxSizeScaled(maxSize, $(imgLink).width(), $(imgLink).height());
            //$("#img_selected").width (newSize[0]);
            //$("#img_selected").height(newSize[1]);

            $("#id_imsim1").attr("src",     urlBlankImage);
            $("#id_a_imsim1").attr("href",  urlBlankImage);
            $("#id_imsim2").attr("src",     urlBlankImage);
            $("#id_a_imsim2").attr("href",  urlBlankImage);
            $("#id_imsim3").attr("src",     urlBlankImage);
            $("#id_a_imsim3").attr("href",  urlBlankImage);
            $("#id_imsim4").attr("src",     urlBlankImage);
            $("#id_a_imsim4").attr("href",  urlBlankImage);
            currentUrlSegmented = null;

            funSetStateWait();
            currentImageIdx=imgLink.id;
            console.log('w=' + $(imgLink).width() + ", h=" + $(imgLink).height() + ', id=' + currentImageIdx);

            updateCurrentImageIfFinished();
        };
        $("#user_images img").on('click', function () {
            console.log('fuck:' + $(this).attr('id'));
            createCookie('widx', $(this).attr('id'));
            funLoadCurrentImage(this);
        });
        currentImageIdx = readCookie('widx');
        if(currentImageIdx!=null) {
            $('#'+currentImageIdx).click();
        }
    /////////////////////////////////////////////////
        $("#id_showdb").on('click', function () {
            var gal = $('#idx_gallery');
            var param={'num': 10};
            $.ajax({
                url: "{% url 'appmelanoma:gallery' %}",
                type: "POST",
                data: param,
                success: function (data, textStatus, jqXHR) {
                    var tobj = $.parseJSON(data);
                    var dataLen=tobj.length;
                    var maxSiz=200;
                    gal.empty();
                    for(var ii=0; ii<dataLen; ii++) {
                        var tUrl = tobj[ii].url;
                        var pw = 1;
                        var ph = 1;
                        if (tobj[ii].w >= tobj[ii].h) {
                            pw = maxSiz;
                            ph = Math.floor(maxSiz * tobj[ii].h / tobj[ii].w);
                        } else {
                            pw = Math.floor(maxSiz * tobj[ii].w / tobj[ii].h);
                            ph = maxSiz;
                        }
                        var tmpImg = $('<img>',{
                            class: 'img-thumbnail',
                            width:  pw,
                            height: ph,
                            id:  'gal_'+tobj[ii].idx,
                            src: tUrl
                        });
                        $(tmpImg).on('click', function() {
                            var spl = this.src.split('/');
                            var fn  = spl[spl.length-1];
{#                            console.log(fn);#}
                            $('#gallery-close').click();
                            var param2={'fname': fn};
                            $.ajax({
                                url: "{% url 'appmelanoma:uploadfdb' %}",
                                type: "POST",
                                data: param2,
                                success: function (data, textStatus, jqXHR) {
                                    tmpRet = $.parseJSON(data);
{#                                    console.log('widx = ' + tmpRet.widx);#}
                                    createCookie('widx', tmpRet.widx);
                                    window.location="{% url 'appmelanoma:index' %}";
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    funShowErrorMessage('Server error: bad image in DB');
                                }
                            });
                            //window.location="/";
                        });
                        $(tmpImg).css('cursor','pointer');
                        $(tmpImg).prop('title', 'Press mouse button to add image');
                        gal.append(tmpImg);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    funShowErrorMessage('Error gallery query...');
                }
            });
        });
    /////////////////////////////////////////////////
    });
</script>

{% endblock %}