<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Login Form</title>
</head>
<body role="document" style="padding: 8px;">
    <div class="container theme-showcase">
        <div class="jumbotron">
            <h1>Hello, User!</h1>
            <p>Please login for to continue working on our portal...</p>
            {% if next %}
        	<p><a href="/login/?next={{ next }}" class="btn btn-primary btn-lg" role="button">Continue</a></p>
            {% else %}
        	<p><a href="/login/" class="btn btn-primary btn-lg" role="button">Login</a></p>
            {% endif %}
        </div>
    </div>
</body>
</html>